.characterEditor {
    padding-top: 128px;
    padding-bottom: 64px;
}

.maxWidthWrapper {
    position: relative;
}

.backgroundSheet {
    position: fixed;
    top: 60%;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: hsl(195deg, 20%, 86%);
}

.header {
    padding-bottom: 64px;
    max-width: 65%;
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
    letter-spacing: -0.5px;
}

.description {
    font-size: 1.25rem;
    margin: 0;
}

.characterWrapper {
    position: fixed;
    left: 50%;
    top: 15%;
    right: 0;
}

.controlColumn {
    max-width: 50%;
}

@media (max-width: 768px) {
    .characterEditor {
        position: relative;
        padding-top: 64px;
        padding-bottom: 64px;
        flex-grow: 1;
    }

    .header {
        padding-top: 32px;
        max-width: 100%;
    }

    .description {
        display: none;
    }

    .characterWrapper {
        position: fixed;
        width: 100%;
        left: 0;
        top: 20%;
        bottom: 25%;

        z-index: 1;
    }
    .maxWidthWrapper {
        position: absolute;
        inset: 0;
        z-index: 2;
    }

    .controlColumn {
        display: flex;
        margin-left: -32px;
        padding-inline: 32px;
        gap: 16px;
        max-width: 100vw;
        overflow-x: scroll;
        scrollbar-width: none;
        position: absolute;
        bottom: 0;
    }

    .backgroundSheet {
        position: fixed;
        top: 40%;
        left: 0;
        width: 100%;
        height: 60%;
        background-color: hsl(195deg, 20%, 86%);
    }
}
