.footer {
    position: relative;
    padding: 64px;
    background: hsl(0deg, 0%, 5%);
    color: white;
    text-align: center;
}

.link {
    color: inherit;
}

@media (max-width: 768px) {
    .footer {
        width: 100vw;
    }
}
